global:
  scrape_interval: 15s
  evaluation_interval: 15s
  external_labels:
    monitor: 'phishing-detection-api'

alerting:
  alertmanagers:
    - static_configs:
        - targets: []

rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'phishing-api'
    static_configs:
      - targets: ['api:8000']
    metrics_path: '/metrics'
    scrape_interval: 10s

  - job_name: 'dashboard'
    static_configs:
      - targets: ['dashboard:3000']
    metrics_path: '/metrics'

  - job_name: 'ppaas-gateway'
    static_configs:
      - targets: ['ppaas:8100']
    metrics_path: '/metrics'

  - job_name: 'postgres'
    static_configs:
      - targets: ['db:5432']

  - job_name: 'redis'
    static_configs:
      - targets: ['redis:6379']

